<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

    
</head>
<body>
<h1>{{ msg }}</h1>



<form class="ui form" action="/auth/login" method="POST">
    <div class="field">
      <label>User Name</label>
      <input id="iptusername" type="text" name="username" placeholder="User Name">
    </div>
    <div class="field">
      <label>Password</label>
      <input id="iptpwd" type="password" name="password" placeholder="Passord">
    </div>
    
    <button id="btnsubmit" class="ui button" type="button">Submit</button>
  </form>
</body>
</html>